<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
    <script src="{{ url_for('static', filename='lib/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/layui/layui.all.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/layui/css/layui.css') }}">
</head>
<body>

<div style="height: 230px;  width: 400px; text-align: center; position: relative; margin-top: 15%; margin-left: 50%; left: -200px; background: #ccc8c2;"
     class="layui-col-md4">
    <div class="layui-col-md12" style="font-size: 20px;margin-bottom: 10px; margin-top: 20px;">登陆</div>
    <div class="layui-col-md12"><input type="text" id="name" placeholder="输入用户名" class="layui-input"
                                       style="width: 300px; display: inline-block; margin-bottom: 20px"></div>
    <div class="layui-col-md12"><input type="password" id="pwd" placeholder="输入密码" class="layui-input"
                                       style="width: 300px; display: inline-block; margin-bottom: 20px;"></div>

    <div class="layui-col-md12" style="position: relative">
        <button class="layui-btn" id="login_btn">登陆</button>
    </div>
</div>

</div>

</body>
</html>
<script>
    $(function () {
        var layer = layui.layer;

        // 登陆流程
        $('#login_btn').click(function () {
            var name = $('#name').val();
            var pwd = $('#pwd').val();
            console.log(pwd, name);
            if (name.length === 0) {
                layer.msg('请输入有效用户名')
                return ''
            } else if (pwd.length === 0) {
                layer.msg('请输入有效密码')
                return ''
            } else {
                $.post('/login/', {'user': name, 'pwd': pwd}, function (res) {
                    if (res.code === 0) {
                        layer.msg(res.msg)
                        window.location.href = '/index/'
                    } else {
                        layer.msg(res.msg)
                    }
                })
            }
        })
    })
</script>